

.row
  .span8.offset2
    %h1
      Lista de Clubes!

- @clubs.each do |club|
  .row
    .span8.offset2.club-item
      .row
        .span4.club-name
          %h2
            =link_to club.name, club

%br


