

.row
  .span9
    .hero-unit.extra-touch.csfont3 
      %h1
        Todo Canchas.com
      %p
        El directorio de canchas de Futbol, Tenis y Paddle de Mendoza   


    = form_tag(clubs_path, :method => 'get', :class => 'brown-well form-search') do
      %input.input-medium.search-query{type: 'text', name: 'search-value'}
      %button.btn{type: 'submit'}
        Buscar

    %br     
    %span.csfont3.search-help
      Puedes buscar por departamento, deporte o nombre de club 
      %br

    %span.csfont3.search-help 
      ||| Ejemplos: 
      %hr
      %ul.csfont2
        %li.black-examples
          Mendoza,
        %li.black-examples
          Paddle,
        %li.black-examples
          Futbol 5 Maipu,
        %li.black-examples
          Regatas  
