%script{'src'=> "http://maps.googleapis.com/maps/api/js?sensor=false"}
=content_for :javascript_includes do
  =javascript_include_tag '/assets/optional/google.util.maps.js'
  =javascript_include_tag '/assets/optional/google.root.map.js'

.row.two-columns-row
  .span7.inner-span
    .span7
      .hero-unit.extra-touch.csfont3 
        %h1
          Todo /// | \\\ Canchas.com
        %p
          El directorio de canchas de Futbol, Tenis y Paddle de Mendoza
    
    .row
      .span7
        = form_tag(clubs_path, :method => 'get', :class => 'brown-well form-search') do
          %input.input-large{type: 'text', name: 'search-value'}
          %button.btn{type: 'submit'}
            Buscar
      
    
    .span7.search-info
      .row
        .inner-div
          .div-icon.green-color
            %i.icon-globe.icon-size
          .div-text-icon.csfont3.green-color
            1.Busca una cancha
        .inner-div
          .div-icon.green-color
            %i.icon-search.icon-size
          .div-text-icon.csfont3.green-color
            2.Encuentra un turno
        .inner-div
          .div-icon.green-color
            %i.icon-money.icon-size
          .div-text-icon.csfont3.green-color
            3.Alquila!    
    

    / .span7
    /   = form_tag(clubs_path, :method => 'get', :class => 'brown-well form-search') do
    /     %input.input-large{type: 'text', name: 'search-value'}
    /     %button.btn{type: 'submit'}
    /       Buscar

    
  .span5.inner-span#root-map-canvas





