%script{'src'=> "http://maps.googleapis.com/maps/api/js?sensor=false"}
=content_for :javascript_includes do
  =javascript_include_tag '/assets/optional/google.maps.js'


- model_class = @club.class

.row
  .span10
    .page-header.alert.alert-info

      %h1
        =@club.name
        %small
          =@club.department.name
  


    .row
      .span10.show-club-info-div
        %fieldset
          %legend
            Informacion de Contacto
          -if @club.pictures.present?
            .span6.show-pictures
              .pics
                -@club.pictures.each_with_index do |picture, index|  
                  =image_tag picture.picture_url(:medium_size), :size => '400x300'

          .span3          
            %h3.gray
              Direccion:
            %h4
              %ul
                %li
                  =@club.address

            %br  

            %h3.gray
              Telefono:
            %h4
              %ul
                %li
                  =@club.phone_number    

            %br       

            %h3.gray
              Horarios:
            %h4
              %ul
                %li
                  9 - 22hs


          %br
          %br  
          %br

        -if @club.has_courts?
          %fieldset
            %legend
              Cantidad de canchas: 

            %h4
              %ul
                -if @club.has_futbol_courts?
                  %li
                    =@club.futbol_quantity
                    canchas de Futbol
                -if @club.has_tenis_courts?
                  %li
                    =@club.tenis_quantity
                    canchas de tenis
                -if @club.has_paddle_courts?
                  %li
                    =@club.paddle_quantity
                    canchas de paddle        
        %br
        %br          


        -if @club.coords.present?
          / here we put the coords hidden for the javascript functions to use it
          =hidden_field_tag 'coords', @club.coords
          %fieldset
            %legend
              Ubicacion      
            %br
              #map_canvas{:style => "width:550px; height:400px"}

    
