

.row
  .span10.offset1.select_type_container
    .row.csfont3.gray
      

      =link_to new_user_registration_path do        
        .span5
          
          %h2.gray
            Administrador
            %br
            de Club
            %br
            %br
            %br
            %i.icon-trophy.icon-very-large
            


      .span5
        %h2.gray
          Usuario
          %br
          Regular  
          %br
          %br
          %br
          %i.icon-user.icon-very-large
