
.body {
  font-family: "Helvetica Neue" !important

}

/* Custom fonts */
.csfont{
  font-family: 'Asap', sans-serif;
}

.csfont2{
  font-family: 'Simonetta', cursive;
}

.csfont3{
  font-family: 'Holtwood One SC', serif;
}
 
.pics {  
    padding: 0;  
    margin-left:  20px;  
    width: 400;
    height: 300;
} 
 
.pics img {  
    padding: 15px;  
    border:  1px solid #ccc;  
    background-color: #eee;  
    width: 400;
    height: 300;
    top:  0; 
    left: 0 
} 

.gray{
  color: gray
}

.show-club-info-div{

  padding-left: 20px

}



/* Search template*/

.extra-touch {
  
  background-color: #7ad0c2;
  color: white;

}

.brown-well{
    background-color: #7ad0c2;
    border: 1px solid rgba(0, 0, 0, 0.05);
    border-radius: 4px 4px 4px 4px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05) inset;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
}

.search-help{

  font-size: 1.2em;
  color: #A68825;

}


/* Show Template */

.show-pictures{

  float:right;

}

#map_canvas{

  margin-left: auto;
  margin-right: auto;

}


/* Index template*/


.courts_types{

  float:right;

}

.club-item{

  height: 100px;
  margin-bottom: 30px;
  border-left-style: solid;
  border-left-color: #ffdf73;
  border-left-width: 5px;
  border-bottom-left-radius:15px;

}

.item-name{
  padding-top: 10px;
  padding-left: 10px;
  width: 400px;
  height: 3em;
  overflow: hidden; 
}

.item-info{
  padding-left: 10px;
  width: 400px;
  height: 3em;
}

.item-name a:hover{

  background-color: transparent;
  color: #ffdf73;
  text-decoration: none;


}

.index-pic{

  position:relative;
  float:right;
  bottom:5px;
  width: 200px;
  height: 150px;
}

.index-title{

  color: rgb(166, 136, 37);
  font-size: 2em;
   
}



/*Utilizao para debugs*/
.ver {
  background-color: yellow;
}
